@font-face {
    font-family: 'titlefont';
    src: url('/fonts/LuxiaDisplay.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1,
h2,
h3,
h4 {
    font-family: 'titlefont', sans-serif;
}

.darkline {
    background-color: #333;
    top: 0;
    left: 0;
    padding: var(--mainpadding);
    margin: 0;
    font-weight: 400;
    letter-spacing: 5px;
    color: #fff
}

h1.darkline,
h2.darkline {
    text-align: right;
    text-transform: uppercase;
    /* font-size: */
}

.colorline {
    background-color: var(--secondary-color);
    color: #fff
}

h2.colorline {
    font-weight: lighter;
}

.triangle1 {
    width: 100%;
    height: 20px;
    filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.1));
    /* margin-bottom: -100%; */
}

.triangle1+.colorline {
    padding-top: 50px;
    margin-top: -24px;

}

.triangle2 {
    width: 100%;
    height: 50px;
    filter: drop-shadow(0 -10px 5px rgba(0, 0, 0, 0.1));
}

.triangle1 polygon {
    fill: var(--dark-color)
}

.colorline+.triangle1 polygon {
    fill: var(--secondary-color);
    /* transform: scaleX(-1); */
}

.colorline+.triangle1 {
    transform: scaleX(-1);
}

div[data-anchor="curriculum"] ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.experiencelist li {
    border-left: solid 3px var(--background-color);
    padding-left: 30px;
    margin-bottom: 30px
}

form[action="/sendmail"] {
    text-align: left;
    width: 300px;
    margin: 0 auto;
}

div:has(>form[action="/sendmail"]) {
    text-align: center;
}

/* div#contact .content {
    align-self: stretch;

}
 */
div#contact .content>div:first-child {
    background-color: var(--light-color);
}

div#contact .content>div:first-child::after {
    content: '';
    /* background-image: url('<svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">            <polygon points="0,0 100,0 100,100" fill="#f0f0f0" /></svg>'); */
    width: 100%;
    height: 100px;
    background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' viewBox='0 0 100 100' preserveAspectRatio='none'><polygon points='0,0 100,0 100,100' fill='%23f0f0f0' /></svg>");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 99;
}

div#contact>section {
    display: flex;
    /* flex-direction: column; */
    align-items: stretch;
    justify-content: stretch;
    align-content: stretch;
    flex-wrap: wrap;

}

div#contact .content {
    flex-grow: 2;
    /* align-items: center; */
}

div#contact .content>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact li {
    list-style-type: none;
    margin-bottom: var(--mainpadding)
}

.optionsContainer button {
    background-color: transparent;
    border-radius: 0;
    border: 0;
    font-weight: lighter;
    border-left: solid 1px #fff;
}

div:has(>.project-thumbnail) {
    background-color: var(--accent-color);
}

#gallery .project-thumbnail {
    height: 100%;
    width: 100%;
    object-fit: cover;
    mix-blend-mode: soft-light;
}

.stack {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.stack li {
    padding: 5px 10px;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    gap: 5px;
}

.stack li img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}