/* COLOR HUNT : https://colorhunt.co/palette/0e2148483aa07965c1e3d095 */
:root {
    --primary-color: #0E2148;
    --secondary-color: #483AA0;
    --accent-color: #7965C1;
    --background-color: #E3D095;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #fff
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #483AA0;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.section {
    padding: 40px 0;
}

.is-hidden {
    display: none;
}

.is-flex {
    display: flex;
}

.is-align-items-center {
    align-items: center;
}

.is-justify-content-space-between {
    justify-content: space-between;
}

.button {
    background-color: #00d1b2;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

.button:hover {
    background-color: #00b89c;
}

.image {
    max-width: 100%;
    height: auto;
}